<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Admission number:</strong>
    <%= student.admission_number %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= student.class %>
  </p>

</div>
