<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field form-group'>
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class='field form-group'>
    <%= form.text_field :venue, class:"form-control", placeholder:"Venue" %>
  </div>

  <div class='field form-group'>
    <%= form.number_field :time, class:"form-control", placeholder:"Time" %>
  </div>

  <div class='field form-group'>
    <%= form.text_field :description, class:"form-control", placeholder:"Description" %>
  </div>

  <div class='field form-group'>
    <%= form.text_field :members_involved, class:"form-control", placeholder:"Members Involved" %>
  </div>

  <div class='field form-group'>
    <%= form.text_field :sponsors, class:"form-control", placeholder:"Sponsors" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-seconadry" %>
  </div>
<% end %>
